In [1]:
import random as rnd
r = rnd.randint(1,3)
print(r)

3

In [8]:
n = 5
count = 0
for i in range(1, n+1):
    if n % i == 0:
        count = count + 1
        pass
    pass

if count == 2:
    print("{} is prime number".format(n))

5 is prime number

In [17]:
# N이라는 숫자의 소수 여부 판별
# 1~N까지의 수로 나누어서 떨어지는 경우가 2개인 것을 찾는 것
# 1, 자기 자신으로만 나누어 떨어지는 수 -> 소수

# 1000 ~ 1250 사이의 소수를 찾아 출력
for number in range(1000, 1251):
    n = number
    count = 0
    for i in range(1, n+1):
        if n % i == 0:
            count = count + 1
        pass
    if count == 2:
        print("{} is prime number".format(number))
        pass
    pass

1009 is prime number
1013 is prime number
1019 is prime number
1021 is prime number
1031 is prime number
1033 is prime number
1039 is prime number
1049 is prime number
1051 is prime number
1061 is prime number
1063 is prime number
1069 is prime number
1087 is prime number
1091 is prime number
1093 is prime number
1097 is prime number
1103 is prime number
1109 is prime number
1117 is prime number
1123 is prime number
1129 is prime number
1151 is prime number
1153 is prime number
1163 is prime number
1171 is prime number
1181 is prime number
1187 is prime number
1193 is prime number
1201 is prime number
1213 is prime number
1217 is prime number
1223 is prime number
1229 is prime number
1231 is prime number
1237 is prime number
1249 is prime number

In [18]:
# 1000 ~ 1250 사이의 소수의 갯수
total = 0
for number in range(1000, 1251):
    n = number
    count = 0
    for i in range(1, n+1):
        if n % i == 0:
            count = count + 1
        pass
    if count == 2:
#         print("{} is prime number".format(n))
        total = total + 1
        pass
    pass

print(total)

36

In [22]:
# 10번째 까지의 피보나치 수열을 출력하시오
# 피보나치 수열: 0,1 값이 주어지고 계속해서 주어진 두 수의 합이 다음에 위치한다.
# ex> 0,1,1,2,3,5,8...
a = 0
b = 1
for i in range(10):
    p = a + b
    if p == 1:
        print(a,b,end=' ')
    print(p, end=' ')
    a = b
    b = p
    pass

0 1 1 2 3 5 8 13 21 34 55 89

In [23]:
a = "Life is too short"
len(a)

17

In [26]:
a[-2]

'r'

In [27]:
# 왼쪽 정렬
"{:<10}".format("hi")

'hi        '

In [28]:
# 오른쪽 정렬
"{:>10}".format("hi")

'        hi'

In [31]:
"{:.2f}".format(3.14159)

'3.14'

In [35]:
# 2단을 작성하시오
# print("{}X{}={}".format(2,1,2))
for i in range(9):
    print("2X{}={:>2}".format(i+1, (i+1)*2))
    pass

2X1= 2
2X2= 4
2X3= 6
2X4= 8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

In [36]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [37]:
a = " hi "
a.strip()

'hi'

In [42]:
line = "990001,addx,17,29,16,49,43,154,C,A,C"
print(line)

990001,addx,17,29,16,49,43,154,C,A,C

In [67]:
data = line.split(",")

In [68]:
data

['990001', 'addx', '17', '29', '16', '49', '43', '154', 'C', 'A', 'C']

In [47]:
data[2]+data[3]

'1729'

In [48]:
int(data[2])+int(data[3])

46

In [65]:
for i in range(2,8):
    data[i] = int(data[i])
    pass

In [66]:
data

['990001', 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C']

In [69]:
for ele in data:
    print(ele)

990001
addx
17
29
16
49
43
154
C
A
C

In [92]:
m_list = [1,2,3,4,5]

In [72]:
m_list[0]

1

In [73]:
for ele in m_list:
    print(ele)

1
2
3
4
5

In [93]:
m_list[4] = 50
m_list

[1, 2, 3, 4, 50]

In [94]:
m_list.append(6)
m_list

[1, 2, 3, 4, 50, 6]

In [95]:
del m_list[4]
m_list

[1, 2, 3, 4, 6]

In [96]:
m_list.remove(6)

In [97]:
m_list

[1, 2, 3, 4]

In [98]:
my_list = []
my_list.append(10)

In [99]:
my_list

[10]

In [109]:
# 리스트 정렬하기
list_a = [23,87,1,92,34,54,20,19,3,90]
list_a

[23, 87, 1, 92, 34, 54, 20, 19, 3, 90]

In [110]:
len(list_a)

10

In [111]:
for ele in list_a:
    print(ele)

23
87
1
92
34
54
20
19
3
90

In [108]:
for idx in range(len(list_a)):
    print(list_a[idx])

23
87
1
92
34
54
20
19
3
90

In [115]:
# 내림차순으로 정렬하시오
for i in range(len(list_a)-1): # 마지막 항은 전의 결과에 따라 자동으로 결정되기 때문에 len(list_a)에서 1을 빼도 동일한 결과 도출됨
    for j in range(i+1, (len(list_a))):
        if list_a[i] < list_a[j]:
            temp = list_a[i]
            list_a[i] = list_a[j]
            list_a[j] = temp
        pass

In [116]:
list_a

[92, 90, 87, 54, 34, 23, 20, 19, 3, 1]

In [ ]:
# import random as rnd
r = rnd.randint(1,3)
print(r)

In [132]:
list_b = []
for i in range(10):
    r2 = rnd.randrange(100)
    list_b.append(r2)
#     print(r2,end=' ')
    pass
list_b

[64, 29, 5, 71, 9, 22, 17, 51, 5, 81]

In [158]:
# 10개의 임의의 수를 리스트에 저장하여 출력(중복 없음)
list_b = []
while True:
    r2 = rnd.randrange(100)
    if r2 not in list_b:
        list_b.append(r2)
#     print(r2,end=' ')
    if len(list_b)==10:
        break
    pass
list_b

[43, 6, 63, 28, 67, 39, 44, 55, 78, 19]

In [164]:
msg = 'hello'
for letter in msg:
    print(letter,end='\t')

h	e	l	l	o

In [165]:
number = '123456'
for letter in number:
    print(letter,end='\t')

1	2	3	4	5	6

In [166]:
# 1000 ~ 9999 중 한 개의 수 출력
hidden = rnd.randrange(1000,10000)
print(hidden)

1698

In [7]:
b = input('please input numbers >>> ')
print(int(b)+10)
print(b+str(10))

please input numbers >>> 10
20
1010

In [2]:
hidden = rnd.randrange(10,100)
print(hidden)

76

In [4]:
# 숫자 맞추기
# 10 ~ 99 사이의 hidden 숫자를 만들어서 감춘 후 사용자가 예상한 숫자를 입력하면 크다, 작다를 피드백하여 숨겨진 숫자를 맞추는 게임

while True:
    temp = input('please input numbers (10~99) >> ')
    try_number = int(temp)
    if try_number == hidden:
        print("정답")
        break
    elif try_number < hidden:
        print("Up")
    else:
        print("Down")

please input numbers (10~99) >> 76
정답

In [14]:
def plus(a,b):
    c = a + b
    return c

In [15]:
result = plus(10,20)

In [16]:
print(result)

30

In [19]:
def plus2(a,b=20,c=30):
    return a+b+c

In [24]:
plus2(20,c=50)

90

In [40]:
# 달력 만들기 -> 함수로 바꾸기
def view_month(m,s,ld):
    month = m
    space = s
    last_day = ld
    print("\t\t  2019년 {}월\n".format(month))
    print("일\t월\t화\t수\t목\t금\t토")
    for i in range(space):
        print('\t', end='')
        pass

    for i in range(1,last_day+1):
        print('{}\t'.format(i),end='')
        if (i+space) % 7 == 0:
            print()
            pass
        pass
    pass

In [41]:
view_month(8,4,31)

		  2019년 8월

일	월	화	수	목	금	토
				1	2	3
4	5	6	7	8	9	10
11	12	13	14	15	16	17
18	19	20	21	22	23	24
25	26	27	28	29	30	31

In [38]:
# 마지막 날 정보 12개와 빈칸 정보 12개를 리스트에 담아서 처리하시오 (하드 코딩으로)
def view_month_v2(m):
    month = m
    spaces = [2,5,5,1,3,6,1,4,0,2,5,0]
    space = spaces[m-1]
    last_days = [31,28,31,30,31,30,31,31,30,31,30,31]
    last_day = last_days[m-1]
    print("\t\t  2019년 {}월\n".format(month))
    print("일\t월\t화\t수\t목\t금\t토")
    for i in range(space):
        print('\t', end='')
        pass

    for i in range(1,last_day+1):
        print('{}\t'.format(i),end='')
        if (i+space) % 7 == 0:
            print()
            pass
        pass
    pass

In [45]:
mon = input('원하는 월을 입력하세요 >>> ')
print()
view_month_v2(int(mon))

원하는 월을 입력하세요 >>> 4

		  2019년 4월

일	월	화	수	목	금	토
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30

In [144]:
# 아래의 코드를 함수로 만들고 테스트하시오(함수 형태만 적용)
# 구구단 
def make_gugudan(n,m):
    # n>=m인 경우를 방지하는 코드 작성
    # 같을 경우는 뒤의 것을 +1
    # 앞의 것이 클 경우 뒤의 것과 교환
    if n == m:
        m = m + 1
    elif n > m:
        temp = n
        n = m
        m = temp
    start = n
    end = m
    for dan in range(start,end):
        for i in range(1,10):
            print("{}X{}={}".format(dan,i,dan*i))
            pass
        print()
        pass
    pass

In [146]:
make_gugudan(4,5)

4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36

In [114]:
# 소수 판별
def is_prime_number(k):
    number = k
    count = 0
    flag = False
    for i in range(1, number+1):
        if number % i == 0:
            count = count + 1
            pass
        pass

    # 소수 여부 확인(2개)
    if count == 2:
        flag = True
        pass
    
    return flag

In [116]:
is_prime_number(5)

True

In [111]:
# 윤년 판별
def is_leap_year(year1, year2):
    for i in range(year1, year2):
        year = i
        if year%400==0 or (year%4==0 and year%100!=0):
            print("{} is leap year".format(year))
    #     else:
    #         print("{} is common year".format(year))
        pass

In [113]:
is_leap_year(2020,2021)

2020 is leap year

In [87]:
# 피보나치 수열
def fibonacci(n):
    a = 0
    b = 1
    for i in range(n):
        p = a + b
        if p == 1:
            print(a,b,end=' ')
        print(p, end=' ')
        a = b
        b = p
        pass

In [88]:
fibonacci(10)

0 1 1 2 3 5 8 13 21 34 55 89

In [89]:
# n번째의 피보나치 수를 알고 싶다
def fibonacci_v2(n):
    a = 0
    b = 1
    for i in range(n):
        p = a + b
#         if p == 1:
#             print(a,b,end=' ')
#         print(p, end=' ')
        a = b
        b = p
        pass
    return p

In [90]:
fibonacci_v2(10)

89

In [128]:
a = [23,87,1,92,34,54,20,19,3,90]

In [129]:
# 내림차순 정렬
def dec_sort(x):
    list_a = x
    for i in range(len(list_a)-1):
        for j in range(i+1, (len(list_a))):
            if list_a[i] < list_a[j]:
                temp = list_a[i]
                list_a[i] = list_a[j]
                list_a[j] = temp
                pass
            pass
        pass
    return list_a

In [130]:
print(a)
dec_sort(a)

[23, 87, 1, 92, 34, 54, 20, 19, 3, 90]

[92, 90, 87, 54, 34, 23, 20, 19, 3, 1]